extends layout

block content
  h1 [NOM DU COURS]
  h2 [SIGLE DU COURS]
  p Actuellement offer :
    if cours.offert
      strong Oui
    else
      strong Nom
  p Liste des prérequis:
  //- #6D : Afficher la liste des prérequis du cours en itérant avec
  //- la directive each de jade (voir #3)

  a(href='/cours/'+cours.sigle+'/modifier/') Modifier le cours
