extends layout

block content
  input(type='button', onclick="recupere_date();" value="Afficher la date")
  form(onsubmit='envoyer_formulaire(); return false;')
    input(type='text', id='nom')
    input(type='submit')
  div(id='resultat')
