extends layout

block content
  h1 Modification #{sigle_cours}
  form(method='post')
    label Nom :
      input(type='text', name='nouveau_nom', value=cours.nom, style='width:300px;margin-left:10px;')
    br
    br

    input(type='submit', value='Modifier')
